# Core
numpy>=1.24.0

# Computer Vision (only if used in API)
opencv-python>=4.8.0
mediapipe>=0.10.0

# Report generation
reportlab>=4.0.0

# Fix dependency warning
chardet<6

# Backend
flask
gunicorn
